<!-- Template JS Files -->
<script src="/assets/js/jquery-3.5.0.min.js"></script>
<script src="/assets/js/styleswitcher.js"></script>
<script src="/assets/js/preloader.min.js"></script>
<script src="/assets/js/fm.revealator.jquery.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/js/masonry.pkgd.min.js"></script>
<script src="/assets/js/classie.js"></script>
<script src="/assets/js/cbpGridGallery.js"></script>
<script src="/assets/js/jquery.hoverdir.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script src="/assets/js/custom.js"></script>