<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<!-- <title>Abdhesh - Personal Portfolio</title> -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Template Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700" rel="stylesheet">

	<!-- Template CSS Files -->
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/preloader.min.css" rel="stylesheet">
	<link href="/assets/css/circle.css" rel="stylesheet">
	<link href="https://proicons.netlify.app/css/icons.min.css" rel="stylesheet">
	<link href="/assets/css/fm.revealator.jquery.min.css" rel="stylesheet">
	<link href="/assets/css/style.css" rel="stylesheet">

	<!-- CSS Skin File -->
	<link href="/assets/css/skins/blue.css" rel="stylesheet">

	<!-- Live Style Switcher - demo only -->
	<link rel="alternate stylesheet" type="text/css" title="blue" href="/assets/css/skins/blue.css" />
	<link rel="alternate stylesheet" type="text/css" title="green" href="/assets/css/skins/green.css" />
	<link rel="alternate stylesheet" type="text/css" title="yellow" href="/assets/css/skins/yellow.css" />
	<link rel="alternate stylesheet" type="text/css" title="blueviolet" href="/assets/css/skins/blueviolet.css" />
	<link rel="alternate stylesheet" type="text/css" title="goldenrod" href="/assets/css/skins/goldenrod.css" />
	<link rel="alternate stylesheet" type="text/css" title="magenta" href="/assets/css/skins/magenta.css" />
	<link rel="alternate stylesheet" type="text/css" title="orange" href="/assets/css/skins/orange.css" />
	<link rel="alternate stylesheet" type="text/css" title="purple" href="/assets/css/skins/purple.css" />
	<link rel="alternate stylesheet" type="text/css" title="red" href="/assets/css/skins/red.css" />
	<link rel="alternate stylesheet" type="text/css" title="yellowgreen" href="/assets/css/skins/yellowgreen.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/styleswitcher.css" />

	<!-- Modernizr JS File -->
	<script src="/assets/js/modernizr.custom.js"></script>

	<!-- Fab Icon -->
	<link rel="shortcut icon" href="/assets/images/logo.png" type="image/x-icon">

</head>